{% extends 'root.html' %}
{% block content %}
{% load static %}
<div class="container create_form my-5">
<form method="POST" action="/create/">
  {% csrf_token %}
  <div class="form-group">
    <label>course_title</label>
    <input type="text" class="form-control" id="course_title"  placeholder="Enter course_title" name="course_title">
    
  </div>
    <div class="form-group">
    <label>institute_name</label>
    <input type="text" class="form-control" id="institute_name"  placeholder="Enter institute_name" name="institute_name">
    
  </div>
    <div class="form-group">
    <label>course_desc</label>
    <input type="text" class="form-control" id="course_desc"  placeholder="Enter course_description" name="course_desc">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}