{% extends 'root.html' %}
{% block content %}
{% load static %}
	
<div class="container my-2">
	{% if result_data %}
<div class="row">
	
			{% for course in result_data %}
			
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxes1 my-2" onclick="update('{{course.course_id}}')">
					<a class="boxes" href="#" style="text-decoration: none; ">
						<div class="card">
							<div class="image">
								<img src="{{course.course_image}}"  alt="course" width="100%">
							</div>
							
							<div class="logo">
								<img class="logoimage" src="https://prod-discovery.edx-cdn.org/organization/logos/44022f13-20df-4666-9111-cede3e5dc5b6-2cc39992c67a.png" alt="logo">
							</div>
							<div class="cardcontent">
								<h3 class="title">
									<span width="230px">
										<span>{{course.course_title|truncatechars:35}}</span>
										
									</span>
								</h3>
								<div class="instiname">
									<span width="230px">
										<span>{{course.institute_name}}</span>
									</span>
								</div>
								<div class="">
									<div class="coursedes">
										<span>Course</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				
			{% endfor %}

	</div>

			<div>

				<nav aria-label="...">
				  <ul class="pagination justify-content-end">
				  	{% if previous_page_link %}
				    <li class="page-item">
				      <a class="page-link" href="?page={{previous_page}}" tabindex="-1">Previous</a>
				    </li>
				    {% endif %}
				    {% for page in course_list %}
				    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
				    {% endfor %}
				    {% if next_page_link %}
				    <li class="page-item">
				      <a class="page-link" href="?page={{next_page}}">Next</a>
				    </li>
				    {% endif %}
				  </ul>
				  <p style="text-align: right;">current page is {{page_num}}</p>

				</nav>
			</div>	

{%endif%}

<a href="/create/"><button type="button" class="btn btn-primary" id="adbtn">Add Courses</button></a>
<script type="text/javascript">
	
	function update(course_id){
		window.location.replace('/update/?course_id='+ course_id);

	}
</script>
{% endblock %}